@charset "utf-8";
/* CSS Document */
*{margin:0;
padding:0;
box-sizing: border-box;
}

html {
    height: 100%;
}
body {background:#A5CDDF;
font-family:Helvetica;
 min-height: 100vh;
}

header{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(45deg, #796aa138, #685e8538), url("../assets/fondo-carrusel.jpg");
	background-size: cover;
	background-position: center;
}
nav{
	padding: 50px;
	display:flex;
	justify-content: space-between;
	align-ites: center;
}
h1.logo{
  display:block;
  width: 300px;
  height: 200px;
  background: url("../assets/logo.png.png") 0 0 no-repeat;
	resize: both;
	text-indent: -1000px;}
h2 {

	line-height:0;
	font-size:53px;
	letter-spacing:8px;
	Font-family:lato;
	font-weight:100;
	color:white;
	 text-align: center;
}
	
h4 {font-family:lato;}
a{font-family:lato}
	
nav ul{
	display:flex;}
nav ul li{
	margin-left: 15px;
	list-style: none;
	}
nav ul li a{
	font-size:20px;
	color: #ECECEC;
	text-decoration: none;
	}
nav ul li a:hover{
	text-decoration: underline;
	color:#E3EA49;
	letter-spacing:normal;
	transform: translatey(-3px)
}
title{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}


.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding:34px 30px;

}

.container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 330px;
    height: 220px;
}


.container .card h4{
    font-weight: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #FF663D;
}